*{
    padding: 0;
    margin: 0;
    word-wrap: break-word;
}
/*=====面包屑导航========*/
.page-content .page-breadcrumb.breadcrumb {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    padding-right: 30px;
    padding-left: 8px;
    margin-top: 15px;
    margin-bottom: 25px;
    border: 0 !important;
    background-color: #eee;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    border-bottom: 1px solid #e5e5e5;
}
/*=====添加公司========*/
.bg-1 {
    background-color: #f5fafe;
    padding-right: -15px!important;
    padding-left: -15px!important;
}
.bk-gray {
    border: solid 1px #eee;
}
.pd-5 {
    padding: 5px!important;
}
.r, .f-r {
    float: right!important;
    margin-top: 6px;
}
.mt-20 {
    margin-top: 20px;
}
.cl, .clearfix {
    zoom: 1;/*兼容IE的缩放*/
}
/*=====修改样式========*/
.upd,.del{
    cursor: pointer;
}
.btn-success{
    margin-top: 5px;
}
.form-label{
    width: 20%;
    margin-top: 12px;
}
.form-control{
    margin-top: 6px;
}
.modal-footer{
    margin-top: 30px;
}

section{
    margin: 0 auto;
    width: 96%;
}


/*翻页*/
.cyNav{
    display: flex;
    justify-content: center;
}

.fa-refresh{
    color:#FF4F00;
}
.fa-edit{
    color:#00B38B;
}